{% extends 'appclases/base.html' %}

{% block contenido %}

<h1>Desafíos entregables</h1>

<ul>
    {% for entregable in object_list %} 
    <li>Entregable: {{entregable.nombre}} >>> Fecha de entrega: {{entregable.fechaDeEntrega}}
        <a href="{% url 'entregables-detail' entregable.id %}" style="text-decoration: none; color:blue">Detalle</a>|
        <a href="{% url 'entregables-update' entregable.id %}" style="text-decoration: none; color:blue">Actualizar</a>|
        <a href="{% url 'entregables-delete' entregable.id %}" style="text-decoration: none; color:blue">Borrar</a>
    </li>
    {% endfor %}
</ul>

<a href="{% url 'inicio' %}">Home</a>

{% endblock %}