{% extends "appclases/base.html" %}

{% load static %}

{% block contenido %}

<div class="container" style="margin:11% 0 5% 5%; padding: 0 10% 0 15%;">
    <form action="" method="POST">
        {% csrf_token %}
        <h2 style="font-weight: bold; font-size: 40px">Eliminará un registro de la base de datos</h2>
        <p>¿Está seguro de que desea eliminar el entregable '{{object.nombre}}'?</p>
        <br>
        <span class="d-grid" style="padding: 0 80% 0 0; align-items: flex-start;">
            <button class="btn btn-primary btn-lg enabled" id="submitButton" type="submit">Confirmar</button>
        </span>
    </form>
    <span>
        <a href="{% url 'entregables' %}">Volver al listado</a>
    </span>
</div>

{% endblock %}